fastapi
uvicorn

langchain-core>=0.2.10
langchain-community>=0.2.10
langchain-chroma>=0.1.4
langchain-ollama>=0.1.1

chromadb
sentence-transformers
huggingface-hub
numpy
scikit-learn

requests
beautifulsoup4
python-dotenv
typing-extensions
pydantic
setuptools
