fastapi==0.110.0
uvicorn==0.29.0
numpy==1.26.4
scikit-learn==1.4.1.post1
sentence-transformers==2.2.2
huggingface-hub==0.14.1
chromadb==0.4.24
pydantic
setuptools
typing-extensions
requests 
beautifulsoup4
python-dotenv
tf-keras
ollama==0.1.6