fastapi
uvicorn
numpy
scikit-learn
sentence-transformers
huggingface-hub
langchain
langchain-community
jq
chromadb
pydantic
setuptools
typing-extensions
requests 
beautifulsoup4
python-dotenv
tf-keras
ollama